In [1]:
# "My Title"
> "Awesome summary"

- toc:true- branch: master
- badges: true
- comments: true
- author: suyeon
- categories: [python, grammer]

SyntaxError: invalid syntax (<ipython-input-1-a08b3d658529>, line 2)

파이썬 기본 문법
    - 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

 1. 주석(commit)과 출력(print)

In [ ]:
# 주석: 앞에 #을 붙이면 코드로 실행이 안됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 :ctrl + /

print(1)
# print(2)
print(3)

In [2]:
# 출력:print 함수 
# 코드 중간에 변수에 들어있는 값을 확인할 때 사용

In [3]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [5]:
# print함수의 옵션
# docstring : 함수에 대한 설명: 단축키(shift + tab)
# 자동완성: tab
print(1, 2, sep="-", end="\t")   # 마지막을 tap으로 변경
print(3)
print

1-2	3

2. 변수 선언
- RAM 저장 공간에 값을 할당하는 행위

In [7]:
a = 1
b = 2
a + b

3

In [10]:
d, e = 3, 4
f = g = 5

print(d)
print(e)
print(f)
print(g)

3
4
5
5

 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, _(언더스코어)를 사용
    - 가장 앞에 숫자 사용 불가 ex) 10a = 5  << 안됨
    - 예약어의 사용 불가 : def, class, try, except ...
    - 컨벤션(convention: 관례, 관습)
        - snake case : fast_campus : 변수선언, 함수 선언할 때 사용
        - camel case : FastCampus, fastCampus : 클래스 선언할 때 사용

 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑: 
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입: int, float, bool(논리값을 갖는 데이터 타입), str
- 컬렉션 데이터 타입 : list(순서 있고, 수정 가능), tuple(순서 있고, 수정 불가), dict(순서 없고, 키와 value값을 갖음)

In [12]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [22]:
# 기본 데이터 타입 :int, float, bool, str
a = 1
b = 1.2
c = True #false
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [23]:
a + b

2.2

In [24]:
a + d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
# 데이터 타입에 함수 : 문자열
d.upper()

'DATA'

In [28]:
d

'data'

In [31]:
e =d.upper()
e

'DATA'

In [39]:
f = " Fast campus "

In [40]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [44]:
# strip() : 앞뒤 공백을 제거해주는 함수
f.strip()

'Fast campus'

In [45]:
# replace : 특정 문자열 치환
f.replace("Fast", "Slow")

' Slow campus '

In [46]:
# 어떤 함수를 쓸 수 있는지 확인하는 방법
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [50]:
g = "abcdefg"

In [51]:
g[2]

'c'

In [53]:
numbers = "123456789" # 97531로 출력되도록 코드를 작성하라

In [56]:
result = numbers[::2]
result[::-1]

'97531'

In [57]:
numbers[::2][::-1]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple (): 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고 키:값으로 구성되어 있는 데이터 타입

In [75]:
# list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [76]:
# offset index 사용이 가능
ls[3]

'four'

In [77]:
# list 함수

In [78]:
ls = [1, 5, 2, 4]

In [79]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [80]:
# sort :오름차순으로 정렬
ls.sort()
ls[::-1]  # 내림차순 함수가 없으므로 해당 예문과 같이 사용함

[5, 4, 3, 2, 1]

In [82]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter :현재 셀을 계속 실행
num = ls.pop()
num, ls

(4, [1, 2, 3])

In [83]:
# 리스트의 복사

In [84]:
ls1 = [1, 2, 3]
ls2 = ls1   # 주소값을 참조해서 내부 데이터 출력(주솟값 복사, 얕은 복사)
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [85]:
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [86]:
ls3 = ls1.copy()
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [87]:
ls1[2] = 10

In [88]:
ls1, ls3

([1, 2, 10], [1, 2, 5])

In [93]:
# Tuple (): 리스트와 같지만 수정이 불가능한 데이터 타입
# 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용
# 수정이 되지 않는 콜렉터를 쓸 경우 튜플을 쓰는 것이 좋다

In [94]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [95]:
a, b = 1, 2
a, b

(1, 2)

In [96]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [99]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

dict {}
 - 순서가 없고 {키,값}으로 구성되어 있는 데이터 타입

In [102]:
# 선언: 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용

dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [104]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [107]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [111]:
# 아래의 데이터를 list와 dict로 선언
# 도시 :seoul, busan, daegu
# 인구 : 9,700,000 , 3,400,000, 2,400,000

In [112]:
# 리스트
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [113]:
# 딕셔너리
data = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000,
}

In [114]:
sum(population)

15500000

In [115]:
sum(data.values())

15500000

In [120]:
list(data.values())

[9700000, 3400000, 2400000]

5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [118]:
a = 1
b = "2"
a + int(b)

3

In [119]:
str(a) + b

'12'

In [121]:
city, population

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [123]:
# zip :같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [125]:
result = dict(list(zip(city, population)))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [126]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [127]:
string = "python"
int(string)

ValueError: invalid literal for int() with base 10: 'python'